<!DOCTYPE html>
<html lang="en">
<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
  </style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Bank<br>Inc</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#productos" class="w3-bar-item w3-button w3-hover-white">Productos</a>
    <a href="#carrito" class="w3-bar-item w3-button w3-hover-white">Carrito de compras ({{cantProductos}} productos)</a>
    <a (click)="exportSelectedProducts('xls')" class="w3-bar-item w3-button w3-hover-white">Exportar a xls</a>
  </div>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Productos -->
  <div class="w3-container" id="productos" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Productos.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Los mejores productos al alcance de un click.</p>
  </div>

  <!-- Lista de productos -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-row m6 w3-margin">
      <div class="w3-light-grey" *ngFor="let prod of productos; let i = index">
        <img src="{{prod.url}}" alt="John" style="width:100%">
        <div class="w3-container">
          <ul class="w3-ul w3-light-grey w3-center">
            <li ><h3>{{prod.nombre}}</h3></li>
            <li><p class="w3-opacity">{{prod.descripcion}}</p></li>
            <li class="w3-padding-16">
              <h2>{{prod.precio}}</h2>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large w3-hover-black" (click)="agregarProducto(prod)">Añadir al carrito</button>
              <button class="w3-button w3-white w3-padding-large w3-hover-black" (click)="agregarProducto(prod)">
                <input type="checkbox" (change)="validarCheck(i)">Exportar a xls
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista productos en el carrito-->
  <div class="w3-container" id="carrito" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Carrito de compras.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Aquí puedes ver los productos que has agregado al carrito.</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half" *ngIf="listaCarrito.length > 0">
      <ul class="w3-ul w3-light-grey w3-center" *ngFor="let car of listaCarrito">
        <li class="w3-red w3-xlarge w3-padding-32">{{car.nombre}}</li>
        <li class="w3-padding-16">{{car.descripcion}}</li>
        <li class="w3-padding-16">
          <h2>{{car.precio}}</h2>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-red w3-padding-large w3-hover-black" (click)="eliminar(car.id)">Eliminar del carrito</button>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
